<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/de/htwg/Phases"
			class = "org.xtext.de.htwg.phases.PhasesPackage"
			genModel = "model/generated/Phases.genmodel" />
	</extension>
</plugin>
