/.PhasesDescriptionLabelProvider.java._trace
/.PhasesDescriptionLabelProvider.xtendbin
/.PhasesLabelProvider.java._trace
/.PhasesLabelProvider.xtendbin
/PhasesDescriptionLabelProvider.java
/PhasesLabelProvider.java
